* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    color: white;
}

html,
body {
    height: 100%;
}

.clear {
    clear: both
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 40px 2%;
    width: 100%;
    height: 90vh;
    /*max-height: 700px;*/
    background-image: url(../images/img_03/capa.png);
    background-size: cover;
    background-position: center;
}

header .logo {
    width: 160px;
    height: 60px;
    float: left;
    background-image: url(../images/img_01/logo.png);
    background-size: contain;
    background-repeat: no-repeat;


}

header nav {
    float: right;
}

header ul {
    list-style-type: none;
}

header li {
    float: left;
    padding: 0 20px;
}

header nav a {
    text-decoration: none;
    cursor: pointer;
}

header nav li:hover {
    font-weight: bolder;
}

.chamada1 {
    float: right;
    margin: 55px;
    max-width: 600px;
    font-weight: 300;
}

.chamada1 h2 {
    font-weight: normal;
    font-size: 45px;
    font-weight: 300;
}

.chamada1 p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300;
}

section.sessao1 {
    width: 100%;
    padding: 0 2%;
    background-color: #472562;
    font-weight: 300;
    height: 400px;
    overflow: hidden;
    /* Adicionado para corrigir problemas de altura */
}

section.text-sessao1 {
    overflow: hidden;
    float: left;
    width: 50%;
}

.text-sessao1 h2 {
    font-weight: normal;
}

.text-sessao1 p {
    margin: 10px 0;
    font-weight: 400;
    font-size: 13px;
}

.text-sessao1 ul {
    list-style-position: inside;
}

.btn1-text {
    background-color: #ff703d;
    width: 135px;
    height: 44px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 30px;
    text-align: center;
    line-height: 42px;
}

.device-sessao1 {
    float: right;
    width: 50%;
    height: 400px;
    background-image: url(../images/img_03/device.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -300px;
    z-index: 1000;
}